{% extends "base.html" %} {% load humanize %} {% load customfilter %} {% block pageContent %}

<!--Section: Content-->
<section class="">

    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="card rounded-0 shadow border-primary text-start summary-card my-3">
                <div class="card-body">
                    <div class="d-flex w-100">
                        <div class="col-8 pe-2">
                            <div class="summary-title fs-5 border-bottom">Total Categories</div>
                            <div class="summary-count text-end fw-bolder mt-3 px-4">{{ categories|intcomma }}</div>
                        </div>
                        <div class="col-4">
                            <div class="summary-icon p-3 rounded border text-center bg-gradient bg-light">
                                <i class="fa fa-list"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="card rounded-0 shadow border-warning text-start summary-card my-3">
                <div class="card-body">
                    <div class="d-flex w-100">
                        <div class="col-8 pe-2">
                            <div class="summary-title fs-5 border-bottom">Total Products</div>
                            <div class="summary-count text-end fw-bolder mt-3 px-4">{{ products|intcomma }}</div>
                        </div>
                        <div class="col-4">
                            <div class="summary-icon p-3 rounded border text-center bg-gradient bg-light">
                                <i class="fa fa-boxes fs-2"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="card rounded-0 shadow border-success text-start summary-card my-3">
                <div class="card-body">
                    <div class="d-flex w-100">
                        <div class="col-8 pe-2">
                            <div class="summary-title fs-5 border-bottom">Total Projects</div>
                            <div class="summary-count text-end fw-bolder mt-3 px-4">{{ sales|intcomma }}</div>
                        </div>
                        <div class="col-4">
                            <div class="summary-icon p-3 rounded border text-center bg-gradient bg-light">
                                <i class="fa fa-file-invoice fs-2"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</section>
<div class="container">
    <h1 class="my-4">Projects Overview</h1>

    <!-- Table for Projects -->
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">Project Name</th>
                <th scope="col">Owner</th>
                <th scope="col">Status</th>
                <th scope="col">Timeline</th>
                <th scope="col">Due Date</th>
                <th scope="col">Priority</th>
            </tr>
        </thead>
        <thead>
            <tr>
                <th scope="col">Project Name</th>
                <th scope="col">Owner</th>
                <th scope="col">Status</th>
                <th scope="col">Timeline</th>
                <th scope="col">Due Date</th>
                <th scope="col">Priority</th>
            </tr>
        </thead>
        <tbody>
            {% for project in overview_data %}
            <tr>
                <td>{{ project.name }}</td>
                <td>{{ project.owner }}</td>
                <td>
                    <span class="badge 
                    {% if project.status == '2' %} bg-success 
                    {% elif project.status == '1' %} bg-warning 
                    {% else %} bg-danger 
                    {% endif %}">
                        {% if project.status == '1' %}
                            Active
                        {% elif project.status == '2' %}
                            Completed
                        {% else %}
                            Inactive
                        {% endif %}
                    </span>
                    
                </td>
                <td>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: {{ project.progress }}%;" aria-valuenow="{{ project.progress }}" aria-valuemin="0" aria-valuemax="100">
                            {{ project.progress }}%
                        </div>
                    </div>
                </td>
                <td>{{ project.due_date|date:"M d, Y" }}</td>
                <td>
                    <span class="star-rating">
                        {% for i in "★★★★★"|slice:":project.priority" %}
                            <i class="fas fa-star"></i>
                        {% endfor %}
                        {% for i in "☆☆☆☆☆"|slice:":5-project.priority" %}
                            <i class="far fa-star"></i>
                        {% endfor %}
                    </span>
                </td>
            </tr>
            {% endfor %}
        </tbody>
        
    </table>
</div>
<section class="body1">
    <div class="div1">Optimize</div> 
     <div class="div1"> 
  <span>Your Workflow Today</span>
     </div>
    </section>

          
<section class="hero-sectiona">
    <div class="card-grida">
      <a href="{% url 'inventory-page' %}" class="carda">
        <div class="card__bga" style="background-image: url(https://images.unsplash.com/photo-1659462014159-ea4576af8c8a?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=764&q=80)"></div>
        <div class="card__contenta">
          <p class="card__categorya">Inventory</p>
          <h3 class="card__headinga">Check Stock</h3>
        </div>
      </a>
      <a href="{% url 'sales-page' %}" class="carda">
        <div class="card__bga" style="background-image: url(https://images.unsplash.com/photo-1659974751348-81f2acd062cc?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=764&q=80)"></div>
        <div class="card__contenta">
          <p class="card__categorya">light Project</p>
          <h3 class="card__headinga">Create Lights Order</h3>
        </div>
      </a>
      <a href="{% url 'pole-page' %}" class="carda">
        <div class="card__bga" style="background-image: url(https://images.unsplash.com/photo-1658519309657-e026d3aa85b7?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=764&q=80)"></div>
        <div class="card__contenta">
          <p class="card__categorya">Poles Project</p>
          <h3 class="card__headinga">Create Poles Order</h3>
        </div>
      </a>
  
      
  
      <a href="{% url 'invoice-page' %}" class="carda">
        <div class="card__bga" style="background-image: url(https://images.unsplash.com/photo-1658248165130-f5cb9194f76b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=764&q=80)"></div>
        <div class="card__contenta">
          <p class="card__categorya">Ongoing Projects</p>
          <h3 class="card__headinga">Manage Project</h3>
        </div>
      </a>
    </div>
  </section>
       <!-- <div class="pro" onclick="window.location.href='{% url 'invoice-page' %}'">
            <img <img src="{{ MEDIA_URL }}/default/invoices.jfif">
             <div class="des">
              <span>Teksun</span>
               <h4>Manage Invoices/Records</h4> 
               
             </div>
            
           </div>
          
            -->
</div>
<script src="https://kit.fontawesome.com/a076d05399.js"></script>
 {% endblock pageContent %} 